<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap mp">
  <Identity
    Name="WesKestis.WindWakerRecompUWP.CP1"
    Publisher="CN=WindWakerRecompUWP"
    Version="0.6.0.0" />
  <mp:PhoneIdentity
    PhoneProductId="7c3d8f51-5a56-4a03-a6bc-9f28bb15e6d0"
    PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Wind Waker Recomp UWP CP6</DisplayName>
    <PublisherDisplayName>Wes Kestis</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Universal"
      MinVersion="10.0.17763.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="BlueWakeUWP.App">
      <uap:VisualElements
        DisplayName="Wind Waker Recomp UWP CP6"
        Description="Xbox/UWP Dawn CoreWindow and XAudio2 probe"
        BackgroundColor="#07101C"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#07101C" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
